@font-face {
	font-family: Lato-Regular;
	font-style: normal;
    font-weight: 300;
	src: url('fonts/Lato-Regular.eot');
	src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/Lato-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/Lato-Regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/Lato-Regular.ttf') format('truetype');
}
body{
    font-family: Lato-Regular;
    margin: 0 auto;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
}

.sidebar{
    overflow-y: scroll;
    width: 250px;
    height: 100%;
    background-color: #2b2b2b;
    position: fixed;
    display: block;
}

.profile {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    margin-top: 30px;
}
.imgprofile{
    width: 100%;
    height: 100%;


}
.imgprofile img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.name{
    color: #fff;
    text-align: center;
    padding: 25px;
}
/* .icon{
    background-color: #313131;

}
.icon li a{
    color: #fff;
    text-decoration: none;

}
.icon li{

    color: #fff;
    display: block;
    float: none;
    clear: both;
    background: #303030;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #2B2B2B;
    cursor: pointer;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
    padding: 9px;
}

.txicon{
    margin-left: 5px;
    font-size: 14px;

}
 */
 .faicon{
    font-size: 15px;
    margin: 5px ;
    align-items: center;
}




* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  background-color: #313131;
  width: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  float: none;
  clear: both;
  background: #303030;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #2B2B2B;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
  padding: 9px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #363636;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #363636;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 6px;
  width: 100%;
  border-left: none;
}










.footer-sidebar li {
    padding-top: 25px;

    display: inline-block;
}
.footer-sidebar li a{
color: #fff;
text-align: center;


}
.footericon{
    text-align: center;

}
.footertext{
    color: #fff;
    text-align: center;
    font-size: 10px;



}

.center{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.blog{
margin-left: 250px;
}

.header{
    position: relative;
    width: 100%;
    height: 330px;
    background: url('img/head.jpg');
}
.titr{
    position: absolute;
    font-size: 55px;
    color: white;
    bottom: 20px;
    margin-left: 200px;
}
.section1{
    
    width: 80%;
    margin: 0 auto;
}
/* .imgbox{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;

}
.biography{
    width: 50%;
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 40px;


}
.recentNews{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;


} */
.recentNews div img{
    padding: 50px;
}
.recentNews ul{

    margin: 0;
    padding: 0;
    list-style: none;
    border-left-color: #0186b2

}
.imgbox img{
    width: 250px;
    height: 250px;
    margin-top: 60px;
}
.navbox ul li{

    list-style-type: none;
    line-height: 1;
    padding: 12px;
    background-color: #FdFdFd;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 3px 3px -3px #ccc;
    box-shadow: 0px 3px 3px -3px #ccc;
    border-radius: 2px;
    border-left: 5px solid;
    border-left-color: #0186b2;

}
.navbox ul li a{
    color: rgb(51, 48, 48);
    text-decoration: none;
}
.navbox{
    border-left-color: #0186b2;
}
.header img{
    width: 110px;
    height: 110px;
    display: inline-block;

}
.media img{
    width: 160px;
    height: 135px;
    padding: 20px;
    padding-bottom: 0;
}
.mediabutton{
    background-color: #428bca;
    padding: 4px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.title{
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    margin-top: 50px;
}
.timeline{
list-style-type: none;
}
.date{
    background-color: #0186b2;
    width: 110px;
    text-align: center;
    padding: 8px;
    color: #fff;
    display: inline-block
}
.circle{
    background-color: #0186b2;
    text-align: center;
    width: 6px;
    padding: 6px;
    border-radius: 50%;
    display: inline-block;


}
.data{
    border-left: 10px solid #0186b2 ;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    line-height: 2.5;
    display: inline-block;
    margin-left: 15px;
    padding: 12px;
    background-color: #fdfdfd;
    margin-bottom: 10px;
    box-shadow: 0px 3px 3px -3px #ccc;
    width: 850px;
}

.boxleft{
    vertical-align: top;
    display: inline-block;
    width: 45%;
    padding: 30px;

}
.boxright{
    vertical-align: top;
    display: inline-block;
    width: 45%;
    padding: 30px;

}

.bluebox{
    background-color: #0186b2;
    padding: 8px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}
.greenbox{
    background-color: #0367a5;
    padding: 8px;
    color: #fff;
    text-align: center;
    font-size: 15px;

}


.bluebox2{
    background-color: #0186b2;
    padding: 8px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    width: 85px;
}
.greenbox2{
    background-color: #0367a5;
    padding: 8px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    width: 85px;


}
.shadowbox{
    box-shadow: 0px 3px 3px -3px #ccc;
    padding: 10px;
    margin: 20px;
}
.boxtwo{
    display:inline-block;
}
.boxcaption{
    display: inline-block;
}
.space{
margin-bottom: 20px;
margin-top: 20px;
}
.researchtab{
    padding: 100px 100px;
    font-size: 16px;

}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    background-color: #f1f1f1;
  }
  .impact{
    padding-top: 100px;
    padding-bottom: 120px;
    font-size: 50px;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }




  
  .map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }





    


#container{
    position: relative;
    display: flex;
}
#profile{
    flex: 15%;
    display: block;
    position: relative;
    margin: 5% 2% 0 10%;
    width: 100%;
    height: 100%;
}
#info-cards{
    flex: 55%;
    display: block;
    margin-top: 5%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
}
#image{
    position: relative;
    overflow: hidden;
}
#image,#profile-photo{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
#image > a{
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5) !important;
    height: 100%;
    width: 100%;
    display: none;
}
#image > a > i{
    -webkit-text-stroke: 1px #ffffffdd;
    padding: 40%;
}
#image:hover a{
    display: block;
}
#name{
    font-size: 23px !important;
    line-height: 20px !important;
}
#about,.card > ul > li{
    padding: 0 0 0 15px;
    position: relative;
    display: inline-block;
    width: 100%;
}
#about{
    font-size: 20px !important;
    padding: 0 !important;
}
#name, #about > p{
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}
#email{
    font-size: 15px !important;
    font-weight: bold !important;
    font-family: 'Cutive Mono',monospace;
}
#college,#email,#year-graduation,#education,#more-about,#telephone,#fax{
    color: #555;
    font-size: 13.5px;
}
strong,span{
    color: black;
    font-size: 16px;
}
#social-links,#about{
    display: inline-block;
}
#social-links{
    margin-bottom: 12px;
}
#social-links a{
    margin: 0 10px;
}
#edit-intro{
    display: block;
    color:#097bbf;
    font-family: 'Nunito', sans-serif;
}
.fab{
    font-size: 1.1em;
}
.fab,.fas{
    color: whitesmoke;
}
#about > a{
    top: 4px;
    right: 8px;
}
.edit{
    top: 19px;
    right: 10px;
}
#about > a, .edit{
    position: absolute;
    font-size: 15px !important;
}
.stroke-transparent {
 -webkit-text-stroke: 1px #000;
 -webkit-text-fill-color: transparent;
}
.blue{
    color: #097bbf !important;
    font-size: 13px;
}
.stroke-transparent-blue {
 -webkit-text-stroke: 1px #097bbf;
 -webkit-text-fill-color: transparent;
}
.card{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 15px 30px 30px 30px;
    background-color: #fff;
}
.card > p{
    color: #0e141e;
    font-weight: bolder;
    font-size: 18px;
    line-height: 2;
}
.card > p > i{
    font-size: 18px;
}
.card > a{
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    border: 0;
    height: auto;
    background: transparent;
    color: #097bbf;
    outline: none;
    cursor: pointer;
}
.card > ul{
    list-style-type: none;
}
.tags{
    font-size: 17px;
    font-weight: bolder;
}
.tags ~ a{
    display: none !important;
}
.tags span{
    font-size: 14px;
    font-weight: normal;
    color: #0e141e;
}
.tags span span{
    color: #738f93;
}
@media screen and (max-width:1090px){
    #profile{
        margin-left: 5%;
    }
}
@media screen and (max-width:850px){
    #container{
        display: block;
    }
    #profile{
        width: 90%;
    }
    .card{
        margin: 0 5%;
        margin-bottom: 30px;
    }
}











@media screen and (max-width: 992px){
    .sidebar {
        display: none;
    }
    .blog{
        margin-left: 0;
    }
    .titr{
        font-size: 40px;
        text-align: left;
        align-items: center;    }

}
